body
{
    width: 90%;
    margin: 0 auto;
}
/* Begin Header */
.header-function{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.logo{
    padding-left: 20px;
    padding-bottom: 20px;
}
.function{
    display: flex;
    justify-content: space-between;
}
.login{
    padding-top: 46px;
    padding-left: 20px;
    padding-right: 20px;
}
.cart{
    border: 2px solid green;
    border-radius: 5px;
    margin-top: 45px;
    height: 30px;
}
.cart:hover{
    color: white;
    background-color: green;
}
#id{
    overflow: hidden;

}
.sticky {
    position: fixed;
    top: 0;
    width: 90%;
}

.navbar-nav{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    width: 70%;
}
.dropdown-menu{
    padding-left: 10px;
    width: 100%;
}
.dropdown-item{
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
    font-family: cursive;
}
.collapse li{
    display: inline-block;
    min-width: 90px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.dropdown-item> .bi{
    padding-right: 10px;
    color: darkgoldenrod;
}
/* End Header */
/* Begin Content */
.content{
    min-height: 100px;
    width: 90%;
    margin: 20px auto;
    background: firebrick;
}
.text-login{
    color: firebrick;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .2rem;
    font-weight: 700;
    min-width: 100px;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}
.card{
    box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.75);
}
/* End Content */




